.displayOptions {
  border-top: rgb(83, 83, 83) solid 0.1rem;
  color: rgb(153, 153, 153);
  font-size: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1.7rem 1rem 0rem 1rem;
}
